# Основное
pandas
numpy
scikit-learn
matplotlib
seaborn
python-dotenv

huggingface_hub
transformers==4.38.1
torch==2.1.0
sentencepiece


# Jupyter
ipykernel
jupyter


# Интерфейс
streamlit

# Для работы с API Google Translate
# google-cloud-translate
